{% extends 'base.html' %}

{% block content %}
<h2 class="mt-2">Productos</h2>

<a href="{% url "producto_new" %}" class="btn btn-success">Nuevo producto</a>
</br>

<form method="GET">
<div class="d-flex flex-column border">
  <div class="p-2">
    <div class="d-flex flex-row">
      <div class="p-2"><label for="sku">Sku: </label></div>
      <div class="p-2"><input type="text" name="sku"></div>
      <div class="p-2"><label for="descripcion">Descripcion: </label></div>
      <div class="p-2"><input type="text" name="descripcion"></div>
    </div>
  </div>
  <div class="p-2">
    <div class="d-flex flex-row">
      <div class="p-2"><input type="submit" value="Buscar" class="btn btn-success"/></div>
    </div>
  </div>
</div>

</form>

</br>
<form method="post">
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">SKU</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {% for p in prodList %}
            <tr>
                <th scope="row">
                    <a href="{% url "producto_view" p.id %}">{{p.id}}</a>
                </th>
                <td>{{p.sku}}</td>
                <td>{{p.descripcion}}</td>
                <td>{{p.precio}}</td>
                <td>
                    {% if p.imagen %}
                        <img src="{{p.imagen.url}}" style="width:32px;height:32px;"/>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
        <tr><td colspan="5">Sin datos para mostrar</td></tr>
        {% endfor %}
    </table>

    {% include 'paginador.html' with pname='producto' %}
</div>


</form>
{% endblock %}