{% extends 'base.html' %}

{% block content %}
    <h2>Producto Edit</h2>

    <br>
    <a href="javascript:history.back()">Volver</a>
    <br>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}