{% extends 'base.html' %}

{% block content %}
    <h1>Producto Eliminar</h1>
    <form method="post">{% csrf_token %}
      <div class="form-group">
        <label for="mensaje"> Esta seguro que decea eliminar "{{ object }}" ?</label>
        <input type="submit" value="Submit" class="btn btn-danger"/>
      </div>
    </form>
{% endblock %}