{% extends 'base.html' %}

{% block content %}
<h2>Detalle Producto {{ now|date }}</h2>

<div class="d-flex flex-column border">
  <div class="p-2">
    <div class="d-flex flex-row">
      <div class="p-2"><a href="javascript:history.back()" class="btn btn-success">Volver</a></div>
    </div>
  </div>
  <div class="p-2">
    <div class="d-flex flex-row">
      <div class="p-2"><label for="sku">Sku: </label></div>
      <div class="p-2">{{ object.sku }}</div>
    </div>
  </div>
  <div class="p-2">
    <div class="d-flex flex-row">
      <div class="p-2"><label for="precio">Precio: </label></div>
      <div class="p-2">{{ object.precio }}</div>
    </div>
  </div>
  <div class="p-2">
    <div class="d-flex flex-row">
      <div class="p-2"><label for="descripcion">Descripcion: </label></div>
      <div class="p-2">{{ object.descripcion }}</div>
    </div>
  </div>
  <div class="p-2">
    <div class="d-flex flex-row">
      <div class="p-2"><label for="imagen">Imagen: </label></div>
      <div class="p-2">
        {% if object.imagen %}
            <img src="{{object.imagen.url}}" style="width:32px;height:32px;"/>
        {% endif %}
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2"><a href="{% url "producto_edit" object.id %}" class="btn btn-success">edita</a></div>
      <div class="p-2"><a href="{% url "producto_delete" object.id %}" class="btn btn-danger">elimina</a></div>
    </div>
  </div>
</div>

{% endblock %}